$left: #002f3a;
$right: rgb(0, 0, 0);
.hero {
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
    // background: black;
    background: $left;
    background: -webkit-radial-gradient(left, $left, $right, $right);
    background: -moz-radial-gradient(left, $left, $right, $right);
    background: radial-gradient(to right, $left, $right, $right);
}
.main__img__container {
    position: absolute;
    top: -100px;
    right: -100px;
    width: 750px;
    height: 750px;
    // z-index: 0;
    .blur {
        // backdrop-filter: blur(20px);
        // background-color: red;
        position: absolute;
        right: 0;
        width: 110%;
        height: 110%;
        z-index: 1;
        // border-radius: 50%;
        background: #000000;
        backdrop-filter: blur(30px);
        // -webkit-backdrop-filter: blur(20px);
    }
    .food {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.waves__img__1 {
    position: absolute;
    top: -200px;
    right: -200px;
    z-index: 20;
}
.waves__img__2 {
    position: absolute;
    top: -400px;
    right: -400px;
    z-index: 20;
}

.main__container {
    padding-left: 10rem;
}
.banner__text {
    font-size: 14rem;
    line-height: 16rem;
    font-weight: 600;
}
.emoji__parent {
    display: flex;
    align-items: flex-end;
}
.nav {
    margin-left: 4rem;
    span {
        margin-right: 2rem;
    }
}

$button_color: rgba(221, 219, 219, 0.493);
.custom__button {
    color: $button_color;
    border: 2px solid $button_color;
    background-color: transparent;
    border-radius: 15px;
    font-weight: 700;
    // font-size: 1.2rem !important;

    .divider {
        display: block;
        height: 80%;
        border-left: 2px solid $button_color;
        margin-right: 0.5em;
        margin-left: 0.5em;
    }
    &:hover {
        border: 2px solid $button_color;
        color: $button_color;
    }
}
