$left__gradient: #5ec0c7;
$right__gradient: #ff7878;
$border-width: -10px;
.wrapper {
    position: absolute;
    left: 50%;
    top: 20%;
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
    transform-origin: center;
}

.main {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 2;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    position: absolute;
    transform-origin: center;
}
