@import "/styles/bulma/sass/utilities/mixins.sass";
.container {
    padding-left: 6rem;
    transition: all 0.2s ease;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4) !important;
    @include until-fullhd {
        padding-left: 5%;
    }
    @include mobile {
        padding-left: 1rem;
    }
}
.spacer {
    width: 350px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.295);
    position: relative;
    @include tablet-only {
        width: 200px;
    }
}

.mask {
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    height: 2px;
    background-color: black;
}
.mobile__navbar__brand {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
