@import "../styles/bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
$left__gradient: #5ec0c7;
$right__gradient: #ff7878;
.has-gradient-text {
  background: $left__gradient;
  background: -webkit-linear-gradient(to right, $left__gradient 0%, $right__gradient 90%);
  background: -moz-linear-gradient(to right, $left__gradient 0%, $right__gradient 90%);
  background: linear-gradient(to right, $left__gradient 0%, $right__gradient 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
}

body {
  background-color: black;
  position: relative;
  overflow: hidden;
}

.fast__text {
  font-family: "Satisfy", cursive;
}

/* width */
.l__opacity {
  opacity: 0.7;
}

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 0.5em;
  margin: 0.2rem;
}
